@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("/images/background-pattern-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--lightPink);
  height: 100vh;
  line-height: normal;
  letter-spacing: 0.24px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--lightPink);
    line-height: normal;
    letter-spacing: 0.24px;
  }
}
